.button{
    background-color: blue;
    color: white;
}
/* linku nuk eshte i vizituar */
a:link{
    color: pink;
   }
   /* linku eshte i vizituar */
   a:visited{
    color: green;
   }
   /* e vendosim kursorin e mausit mbi link */
   a:hover{
    color: red;
   }
   /* kur e mbajm te shtypur linkun */
   a:active{
    color: chartreuse
   }